<!DOCTYPE html>

<html>
  
  <head>
    <title>Find Something</title>
  </head>

  <body>
    Input a number to find all movies made in that year.

    <form id="search" action = "/find" method = "POST">
      <select name="query" form="search">
        <option value="year">Year</option>
        <option value="genre">Genre</option>
        <option value="actor">Actor</option>
        <option value="actors">Actors</option>
      </select>
      <input type = "text" name = "year">
      <input type = "submit" name = "Submit">
    </form>

    <table>
    {% for result in results %}
    <tr>
      {% for i in result %}
      <td>{{ i }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>
  </body>
  
</html>
